@font-face {
    font-family: lakeshore;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}
@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}
body, 
html {
    height: 100%;
}
body{
display: flex;
flex-direction: column;
background-color: bisque;
margin: 0%;
}
.logo  {
font-size: 2em;
background-color: pink;
color: rgb(78, 11, 11);
display: block;
text-align: center;
font-family: lakeshore;
text-transform: uppercase;
letter-spacing: 0.17em;
    }
    .main-class {
        display: flex;
        flex-direction: column;
    }
    .main-class.hidden {
        --thumbnails-img-width: 20vw;
        --thumbnails-img-height: 15vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
    }
    .hidden .details-container {
        display: none;
        }
    .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
transition: 5s cubic-bezier(0.1,2,0.9,1);
    }
    .details-frame {
        position: relative;
    }
    .hide-button {
        position: absolute;
        top: 0.5vh;
        right: 3vw;
        border-radius: 7px;
    }
    .details-image {
    width: 90vw;
    height: 70vw;
    border-radius: 25%;
    }
    .details-title {
    display: block;
    font-family: airstream;
    font-style: italic;
    background-color: beige;
    position: absolute;
    left: 2vw;
    bottom: 2vw;
    font-size: 2em;
    background-color: blanchedalmond;
    }
    .thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0vw;
    }
    .hidden .thumbnails-list {
        max-height: 80vh;
    }
    .thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px black;
    overflow: hidden;
    border-radius: 25%;
    }
    .thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
    }
    .thumbnails-title {
        display: block; 
        text-align: center;
        height: var(--thumbnails-title-height);
        background-color: rgb(229, 101, 46);
        color: white;
    }
    .hidden .thumbnails-title {
        font-size: 1.4em;
    }
    .thumbnails-anchor {
        text-decoration: none;
    }

    .thumbnails-item:hover {
        transform: scale(1.1);
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .is-point {
        transform: scale(0.001);
        transition: 0s;
    }
    @media (min-width: 560px) {
        .thumbnails-list {
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: nowrap;
            max-height: 80vh;
            order: -1;
            width: 17em;
        }
        .hidden .thumbnails-list {
            max-width: 60vw;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .main-class.hidden {
            flex-direction: row;
            justify-content: left;
        }
        .main-class{
            flex-direction: row;
            justify-content: space-around;
        }
        .details-container {
            justify-content: center;
        }
        .details-title {
            color: brown;
            font-size: 3em;
            left: 0;
        }
        .details-image{
            width: 45vw;
            height: 38vw;
        }
        .thumbnails-item {
            width: calc(var(--thumbnails-img-width) * 0.5);
            min-height: calc((var(--thumbnails-img-height) + var(--thumbnails-title-height)) * 0.5);
            margin-right: 5vh;
        }
        .hidden .thumbnails-item {
            max-height: calc((var(--thumbnails-img-height) + var(--thumbnails-title-height)) * 0.5);
        }
        .thumbnails-image {
            width: calc(var(--thumbnails-img-width) * 0.5);
            height: calc(var(--thumbnails-img-height) * 0.5);
        }
    }
    @media (min-width: 900px) {
        .logo {
            font-size: 2.5em;
        }
        .details-title {
            font-size: 2.5em;
            left: -1vw;
            bottom: 1vw;
        }
        .thumbnails-title {
            font-size: 1.5em;
        }
        .hidden .thumbnails-title {
            font-size: 2em;
        }
        .hide-button {
            font-size: 1.2em;
            right: 1vw;
            top: 1.5vh;
        }
    }