@font-face {
    font-family: lakeshore;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}
@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
}
body, 
html {
    height: 100%;
}
body{
display: flex;
flex-direction: column;
background-color: bisque;
margin: 0%;

}

.logo  {
font-size: 2em;
background-color: pink;
color: rgb(78, 11, 11);
display: block;
text-align: center;
font-family: lakeshore;
text-transform: uppercase;
letter-spacing: 0.17em;

    }
    .main-class {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    .hidden.main-class {
        --thumbnails-img-width: 20vw;
        --thumbnails-img-height: 15vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33)
    }
    .details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;

    }
    .hidden .details-container {
    display: none;
    }

    .details-frame {
        position: relative;
    }
    .hide-button {
        position: absolute;
        top: 3vh;
        right: 3vw;
        border-radius: 7px;
    }
    .details-image {
    width: 90vw;
    height: 70vw;
    border-radius: 25%;
    }
    .details-title {
    display: block;
    font-family: airstream;
    font-style: italic;
    background-color: beige;
    position: absolute;
    left: 0vw;
    bottom: 8vw;
    font-size: 2em;
    }
    .thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0vw;
    }
    .hidden .thumbnails-list {
        max-height: 80vh;
        margin-bottom: 10vh;
    }
  
    .thumbnails-item {
    overflow: hidden;
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    margin-top: 2.5vh;
    border: solid 1px black;
    border-radius: 25%;
    }
    .thumbnails-image {
    display: block;
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    }
    .thumbnails-title {
        display: block; 
        text-align: center;
        height: var(--thumbnails-title-height);
        background-color: rgb(229, 101, 46);
        color: white;
    }
    .thumbnails-anchor {
        text-decoration: none;
    }

    .thumbnails-item:hover {
        transform: scale(1.1);
        margin-left: 1vw;
        margin-right: 1vw;
    }
    @media (min-width: 560px) {
        :root {
            --thumbnails-image-width: 12vw;
            --thumbnails-image-height: 8vw;
            --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
        }
        .logo {
            font-size: 1.8em;
        }
        .thumbnails-list {
            flex-direction: column;
            flex-wrap: nowrap;
            max-height: 75vh;
            order: -1;
            justify-content: flex-start;
            width: 17em;
        }
        .hidden .thumbnails-list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
        }
        .main-class{
            flex-direction: row;
            justify-content: space-around;
        }
        .hidden.main-class {
            --thumbnails-img-width: 18vw;
            --thumbnails-img-height: 12vw;
            --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
        }
        .details-image{
            width: 45vw;
            height: 38vw;
        }
        .details-title {
            color: brown;
            font-size: 3em;
        }
        .details-container {
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
        }

    @media (min-width: 900px) {
        .details-container {
            margin-top: 5vh;
            margin-right: 5vw;
        }
        .thumbnails-list {
            width: 17em;
            padding-right: 2vw;
            margin-top: 2.5vh;
            max-height: 86vh;
        }
        .thumbnails-title {
            font-size: 1.5em;
        }
        .details-image {
            width: 45vw;
            height: 35vw;
        }
    }

    }    