body{
display: flex;
flex-direction: column;
background-color: bisque;
}
.logo  {
    font-size: 2em;
background-color: pink;
display: block;
text-align: center;

    }
    .main-class {
    
    }
    .details-container {
    display: flex;
flex-direction: column;
align-items: center;
margin-top: 2.5vh;
    }
    .details-image {
    width: 70vw;
    height: 60vw;
    border-radius: 25%;
    }
    .details-title {
    display: block;
    }
    .thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0vw;
    border: solid 2px rgb(rgb(72, 43, 203));
    list-style-position: inside ;
    }
    .thumbnails-item {
        overflow-y: hidden;
        border-radius: 25%;
    width: 20vw;
    height: 20vw;
    margin-top: 2.5vh;
    border: solid 1px black;
    border-radius: 25%;
    }
    .thumbnails-image {
        display: block;
    width: 20vw;
    height: 15vw;
    }
    .thumbnails-title {
        display: block; 
        text-align: center;
height: 5vw;
background-color: rgb(229, 101, 46);

    }
    .thumbnails-anchor {
       text-decoration: none;
    }